@charset "UTF-8";
// 字体大小
$big-font-size: 16px;
$big-font-size-18: 18px;
$big-font-size-24: 24px;
$big-font-size-30: 30px;
$big-font-size-32: 32px;
$big-font-title-size:18px;
$big-ico-font-size: 20px;
$big-treeview-search: 28px;
$big-tab-height: 36px;
$big-content-height: calc(100% - 36px);
$big-main-content-height: calc(100% - 78px);
$big-dx-tab-margin-top: -56px;