@charset "UTF-8";
// 主题色
$blue-theme-color: #306BBB;
$blue-theme-hcolor: #e9f2ff;

// 成功
$blue-success-color: #46ab2c;
$blue-success-bcolor: #3e9127;
// 警告
$blue-warning-color: #ee7a19;
$blue-warning-bcolor: #d26618;
// 正常
$blue-default-color: #306BBB;
$blue-default-bcolor: #3169b9;
// 危险 报错
$blue-danger-color: #ec3800;
$blue-danger-bcolor: #d33200;

// 头部颜色
$blue-bar-color:#306BBB;
$blue-treeviewbox-color:#333;
$blue-sideNav-bgcolor:#fff;
$blue-search-editor-bgcolor:#f1f1f1;
$blue-search-editor-color:#333;
$blue-treeview-hcolor:#333;
$blue-treeview-hbgcolor:#e9f2ff;
$blue-mainBox-margin-left:8px;
$blue-mainBox-width:calc(100% - 8px);