@charset "UTF-8";
// 主题色
$orange-theme-color: #dd722c;
$orange-theme-hcolor: #fee9d3;

// 成功
$orange-success-color: #46ab2c;
$orange-success-bcolor: #3e9127;
// 警告
$orange-warning-color: #ee7a19;
$orange-warning-bcolor: #d26618;
// 正常
$orange-default-color: #1d7ada;
$orange-default-bcolor: #3169b9;
// 危险 报错
$orange-danger-color: #ec3800;
$orange-danger-bcolor: #d33200;

// 头部颜色
$orange-bar-color:#252d3a;
$orange-treeviewbox-color:#bebebe;
$orange-sideNav-bgcolor:#282b32;
$orange-search-editor-bgcolor:#3c3f45;
$orange-search-editor-color:#fff;
$orange-treeview-hbgcolor:#3c3f45;
$orange-treeview-hcolor:#fff;
$orange-mainBox-margin-left:0px;
$orange-mainBox-width:100%;