@charset "UTF-8";
// 字体大小
$small-font-size: 12px;
$small-font-size-14: 14px;
$small-font-size-20: 20px;
$small-font-size-26: 26px;
$small-font-size-28: 28px;
$small-ico-font-size: 16px;
$small-font-title-size:14px;
$small-treeview-search: 24px;
$small-tab-height: 32px;
$small-content-height: calc(100% - 32px);
$small-main-content-height: calc(100% - 70px);
$small-dx-tab-margin-top: -48px;